# Flutter
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# Node
node_modules/
npm-debug.log*

# IDE
.idea/
*.iml

# OS
Thumbs.db
.DS_Store
